.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: flex-start;
  padding: 16px;             
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;          
  height: 100%; 
  margin: 0 auto;            
  overflow: hidden; 
}

.turnUndCycle {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dash-user-name {
  margin-top: 60px;
  font-size: 50px;
}

.credits-big{
  font-size: 40px;
}

.end-turn-button {
  max-width: 80%;
  margin-bottom: 10%;
}

.active-users {
  margin-top: 20px;
  width: 100%;
  flex: 1; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;}

body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}