.available-characters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 2rem; 
  justify-content: center;
  margin-bottom: 40px;
}

.selected-characters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem; 
  row-gap: 3rem;  
  justify-content: center;
}

.lobby-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-game-button{
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reset-button{
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}